@using BBCuentas.Models;

<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title ECweb</title>

    <link href="~/Styles/bootstrap.min.css" rel="stylesheet" type="text/css" />
    <link href="~/Styles/home.css" rel="stylesheet" type="text/css" />
    <link href="~/Styles/font-awesome.min.css" rel="stylesheet" />
    <link href="~/Styles/bootstrap-select.min.css" rel="stylesheet" />
    <link href="~/Styles/bootstrap4-toggle.min.css" rel="stylesheet" />
    <script src="~/Scripts/jquery-3.0.0.js"></script>
    <script src="~/Scripts/popper.min.js"></script>
    <script src="~/Scripts/bootstrap.min.js"></script>
    <script src="~/Scripts/jquery.dataTables.min.js"></script>
    <script src="~/Scripts/dataTables.bootstrap4.min.js"></script>
    <script src="~/Scripts/bootstrap-select.min.js"></script>
    <script src="~/Scripts/modernizr-2.6.2.js"></script>
    <script src="~/Scripts/bootstrap4-toggle.min.js"></script>
    <script src="~/Scripts/loadingoverlay.min.js"></script>
</head>
<body>
    <nav class="navbar navbar-expand-md navbar-dark bg-primary fixed-top">
        <img class="w-25" src="~/Content/Images/logo_grupo.png" />
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarsExampleDefault" aria-controls="navbarsExampleDefault" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarsExampleDefault">
            <ul class="navbar-nav mr-auto">                
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                        Atención a Clientes
                    </a>
                    <ul class="dropdown-menu" role="menu">
                        <li class="dropdown-item">@Html.ActionLink("Contratos Registrados", "Index", "AtencionClientes")</li>
                        <li class="dropdown-item">@Html.ActionLink("Busqueda por Contrato", "Index", "AtencionClientesBusqueda")</li>
                    </ul>
                </li>
            </ul>


            <form class="form-inline my-2 my-lg-0">
                @*<input class="form-control mr-sm-2" type="text" placeholder="Search" aria-label="Search">
                    <button class="btn btn-secondary my-2 my-sm-0" type="submit">Search</button>*@
                <a class="nav-link" href="@Url.Action( "LogOut", "Login")">
                    <i class="fa fa-user fa-lg"></i>
                    Salir
                </a>
            </form>
        </div>
    </nav>

    <div role="main" class="container">

        @RenderBody()
    </div><!-- /.container -->

</body>
</html>